@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body, html {
  font-family: 'Inter', sans-serif;
  min-width:400px;
  background: hsl(0, 0%, 0%);
}

.flameWidth{
  width: 100%;
}

.cloud1 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: cloud1floating;
  animation-name: cloud1floating;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  animation-duration: 6s;
  position: absolute;
}

@keyframes cloud1floating {
  0% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}

.cloud2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: cloud2floating;
  animation-name: cloud2floating;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2.5s ease;
  animation-duration: 10s;
  position: absolute;
}

@keyframes cloud2floating {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.btnShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.8);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity:0;  
    -webkit-appearance: none;
}


.errorMessage {
  background-color: white;
  width: 143px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 107px;
  visibility: hidden;
  border-radius: 10px;
  position: relative;
  float: left;
  }